<center>
<h1>Forgot Username or Password</h1>

  <p>Don't worry! Just fill in your e-mail address <br/>and we will send your details. 
  </p>



  <%= form_for :forgot_password_validate, :url => {:action => "validate"} do |f| %>
  <p>
    <%= f.label :email_id %><br>
    <%= f.text_field :email_id %>
  </p>
 
    <%= f.submit :"Get Information" %>
  </p>
<% end %>

<%= link_to "Go back to login page?", login_index_path %>
</center>
