<div class="page-header">
    <div class="info">
        <h2>Enjoy the music!</h2>
    </div>

     <%= form_for :home_search_songs, :url => {:action => "search"} do |f| %>
        <p>
          <%= f.label :find_songs %>
          <%= f.text_field :find_songs %>
        </p>

        <%= f.submit 'Search' %>
        <input type="reset" value="Clear">
        <br/> <br/>
        <p>
          <%= f.label :search_by_genre%>
          <%= f.submit 'Pop' %>
          <%= f.submit 'Hip-Hop' %>
          <%= f.submit 'Rock' %>
          <%= f.submit 'RnB' %>
          <%= f.submit 'Alternative Rock' %>
          <%= f.submit 'Country' %>
          <%= f.submit 'Classical' %>
          <%= f.submit 'Jazz' %>
          <%= f.submit 'Reggae' %>
          <%= f.submit 'Blues' %>
        </p>

        
        <%= link_to "Logout?", logout_index_path %>
        <%end%>
</div>

<div class="grid-container">
    <div id="slickgrid"></div>
</div>
<br/>
<table id ="example">
  <tr>
    <th>Title</th>
    <th>Artist Name</th>
    <th>Genre</th>
    <th>Duration</th>
    <th>Year</th>
  </tr>
  <% @songs.each do |track| %>
  <tr>
    <td class = "title"><%= track.title %></td>
    <td class = "artist_name"><%= track.artist_name %></td>
    <td class = "genre"><%= track.genre %></td>
    <td class = "duration"><%= ((track.duration.to_i/60).to_s + ":" + ((track.duration.to_i%60).to_s)) %></td>
    <td class="year"><%= track.year %></td>
  </tr>
  <%end%>
</table>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function() {

    $('#example tr').click(function() {
        var artist_names = $(this).find(".artist_name").text();
        var song_title = $(this).find(".title").text();
        alert(song_title);
    });

});
</script>
<br/>
<br/>
<br/>
<br/>
<div style="position:relative;width:800px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="800" height="300" 
      src="https://www.youtube.com/embed/I-SqFmhBUp4">
    </iframe>
  </div>
</div>